ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: linear-gradient(120deg,#181715, #1b0904ea);
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
/* experiment */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    height: 100vh;
   margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#eba34b, #ba330eea);
  }
.container {
	background: transparent;
	transition: background 1.2s;
}
.container-icons-outer {
	height: 120px;
}
.icon-container {
	position: relative;
}
.icons {
	--rotation: 0;
	position: absolute;
	left: calc(50% - 20px);
	top: -117px;
	margin: auto;
	transition: 1.2s;
	width: 40px;
	text-align: center;
	transform: rotate(calc(var(--rotation) * 1deg));
}
.icon {
	font-size: 2em;
	padding: 40px 0;
	color: hsl(50, 85%, 55%);
	transition: color 1.2s;
}
.dark .icon {
	color: black;
}
.icon1 {
	transform: rotate(180deg);
}

.btn-container {
	text-align: center;
}
/* ---------------------------------------------- */
body
{
    font-family: sans-serif;
    background-color: #ffe3c8;
}
:root {
    --bg-color: #db4949;
    --second-color: #ffe3c8;
    --main-color: #9d5716;
    --h1-font: 5.1rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;

}
.dark-mode .calculator-container {
    background-color: #9d5716;
    color: white;
    transition: 0.6s;
  }

.dark-mode .signup_link a:hover{
    text-decoration: underline;
    color: white;
}
.dark-mode .signup_link a{
    color: white;
}
.dark-mode .txt_field input:valid ~ label{
    top: -5px;
    color: #ffe3c8;
  }
.dark-mode .txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #ffe3c8;
  }

.dark-mode form .txt_field{
    position: relative;
    border-bottom: 2px solid #ffe3c8;
    margin: 30px 0;
}

.dark-mode .txt_field label{
    color: #9d5716;
  }



.xer {
    justify-content: left;
}
.button-for {
    justify-content: center;

}
h2 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: var(--h2-font);
}


.lagayan {
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-wrap: wrap;
}
.form-control {
    box-shadow: -3px 6px 4px black;
}
.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 30px;
    border: 5px;
    border-color: #9d5716;
    border-style: solid;
    width: 500px;
    background-color: #ffe3c8;
    color: #020202;
    transition: background 1.2s;
    border-radius: 12px;
    color: #9d5716;
    box-shadow: -3px 6px 4px black;
}

form input{
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
    box-shadow: -3px 6px 4px black;
    background-color: linear-gradient(120deg,#eba34b, #ba330eea);
    color: #000000;
}

h1 {
    text-align: center;
    padding: 20px 0;
  }
form .txt_field{
    position: relative;
    border-bottom: 2px solid #9d5716;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    background-color: #ffffff;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #9d5716;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #744418;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;
    transition: .5s;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #9d5716;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: .5s;
  }
  input[type="submit"]:hover{
    border-color: #9d5716;
    transition: .5s;
    transform: scale(1.1) translateY(-5px);
    background: #e06f1f;
    border: 1px solid #b66214;
    color: rgb(249, 249, 249);
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
  }
  .signup_link a{
    color: #9d5716;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
    cursor:pointer; 
  }

